/* 3.1 Normalize */

// for Safari Browser
:focus {
	outline: none;
	outline-style: none;
}

hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border-top: 1px solid #f0f0f0;
}

img {
	max-width: 100%;
	height: auto;
	border-radius: 2px;
}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

table {
	margin-bottom: 10px;
	border-collapse: collapse;
	border-spacing: 0;
}

iframe {
	max-width: 100%;
}